<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="order-container c-ticket-w100 text-center">
        <div class="order">
          <img class="order__images" alt='' src="../../../../../assets/img/tickets.png">
          <p class="order__title">Book a ticket
            <br>
            <span class="order__descript">and have fun movie time</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Main content -->
<section class="container" style="min-height: 750px">
  <div class="row">
    <div class="col-sm-12">
      <div class="checkout-wrapper">
        <h2 class="page-heading">Kết quả đặt vé</h2>
      </div>
      <div class="container-success">
        <div class="icon-success">
          <i class="icofont icofont-checked"></i>
        </div>
        <div class="info-success">
          <p>Đặt vé thành công,</p>
          <p>Cám ơn bạn đã đặt vé tại Movie Point!</p>
          <p>Chúng tôi sẽ xử lý đơn hàng này trong vòng 24h làm việc, bạn vui lòng theo dõi trạng thái đơn hàng của mình.</p>
        </div>
      </div>
    </div>
  </div>
</section>