<section class="breadcrumb-area">
  <div class="container c-padding-t-150 c-padding-b-100">
    <div class="row">
      <div class="transformers-box">
        <div class="row flexbox-center">
          <div class="col-lg-5 text-lg-left text-center">
            <div class="transformers-content">
              <img src="assets/img/slide2.png" alt="about" />
            </div>
          </div>
          <div class="col-lg-7">
            <div class="transformers-content c-padding-t-20" *ngIf="isLogin">
              <h2>The Movie Point Login</h2>
              <p>Moive | 2D | 3D | Sci-Fi | SBS</p>
              <div class="details-reply">
                <form action="#">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="select-container">
                        <input type="text" placeholder="UserName" />
                        <i class="icofont icofont-ui-user"></i>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="select-container">
                        <input type="password" placeholder="Password" />
                        <i class="icofont icofont-ui-password"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <button type="button" class="theme-btn">Login</button>
                    </div>
                  </div>
                  <div class="login-social">
                    <div>
                      <a><i class="icofont icofont-social-facebook"></i></a>
                    </div>
                    <div class="bg-zalo-login" (click)="login()">
                      <img src="../../../../../assets/img/zalo-logo.png" alt="" width="100" ngxLoginZalo>
                    </div>
                    <div>
                      <a><i class="icofont icofont-social-google-plus"></i></a>
                    </div>
                  </div>
                  <!-- <p ngxLoginZalo>Login Zalo</p>
                  <p (click)="login()">Test</p>
                  <p (click)="checkLoginStatus()">Check login status</p>
                  <p (click)="getMyProfile()">Get my profile</p>
                  <p (click)="getAccessToken()">Get access token</p>
                  <p appLogoutZalo (successEvent)="logoutSuccessfullyAction()">Logout Zalo</p> -->
                </form>
              </div>
            </div>
            <div class="transformers-content c-padding-t-20" *ngIf="isRegister">
              test
            </div>
          </div>
        </div>
        <!-- <a href="#" class="theme-btn">
          <i class="icofont icofont-ticket"></i> BUY TICKET</a> -->
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb area end -->
<!-- transformers area start -->
<section class="transformers-area c-padding-t c-padding-b">
  <div class="container">

  </div>
</section>
<!-- transformers area end -->



<!-- register form 

<div class="row">
                    <div class="col-lg-6">
                      <div class="select-container">
                        <input type="text" placeholder="UserName" />
                        <i class="icofont icofont-ui-user"></i>
                      </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="select-container">
                          <input type="password" placeholder="Password" />
                          <i class="icofont icofont-ui-password"></i>
                        </div>
                      </div>
                    <div class="col-lg-6">
                      <div class="select-container">
                        <input type="text" placeholder="Name" />
                        <i class="icofont icofont-ui-user"></i>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="select-container">
                        <input type="text" placeholder="Phone" />
                        <i class="icofont icofont-phone"></i>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="select-container">
                        <input type="text" placeholder="Email" />
                        <i class="icofont icofont-envelope"></i>
                      </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="select-container">
                          <input type="text" placeholder="Email" />
                          <i class="icofont icofont-envelope"></i>
                        </div>
                      </div>
                  </div>
-->