.c-padding-t-150 {
    margin-top: 150px;
    background: #13151f;
}
.c-padding-b-100 {
    margin-bottom: 100px;
}
.breadcrumb-area{
    padding: 80px 0 0 !important;
}
// .row .transformers-box .flexbox-center-top{
//     align-items: center;
//     display: flex;
//     ali
// }
.c-padding-t-20{
    padding-top: 20px;
}
.transformers-box{
    width: 100%;
}
.login-social{
    justify-content: flex-end !important;
}
.login-social a {
    margin-left: 10px;
}
.bg-zalo-login{
    background: none !important;
    background-image: url('../../../../../assets/img/zalo-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 45px;
}