@import '_base.scss';

.header-top{
    text-align: center;
}
.fa.pull-right {
    margin-top: 0.2em;
}
.c-margin-t-75{
    padding-top: 75px;
}
.c-padding-l{
    padding-left: 20px !important;
}
.post-right-posts .thumbr{
    width: 100%;
}
.row{
    margin-right: 0;
    margin-left: 0;
}