<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="order-container c-ticket-w100 text-center">
        <div class="order">
          <img class="order__images" alt='' src="../../../../../assets/img/tickets.png">
          <p class="order__title">ĐẶT VÉ XEM PHIM
            <br>
            <span class="order__descript">
              và có thời gian xem phim thú vị</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb area end -->
<section class="portfolio-area row-pt150" style="min-height: 750px;">
  <div class="container">
    <div *ngIf="!isShowBookChair;else bookChair;">
      <div class="row">
        <div class="section-title">
          <h2 class="page-heading" style="color : #fff">Chọn phim</h2>
        </div>
      </div>

      <div class="row" style="min-height: 500px">
        <carousel-component class="animated slideInRight wow" [mode]="'horizontal'" [morePairSlides]="moreSlides" [angle]="degree"
          [autoPlay]="false" [delayAutoPlay]="delayAutoPlay" #topCarousel>
          <div class="item-carousel" *ngFor="let item of listMovie">
            <img [src]="item.HinhAnh" (click)="onSelect(item)" onError="this.src='../../../../../assets/img/movie/movie-sample6.jpg';"
              class="img-responsive" width="100%" />
          </div>
          <!-- <div class="item-carousel">
            <img src="../../../../../assets/img/movie/movie-sample9.jpg" class="img-responsive" />
          </div>
          <div class="item-carousel">
            <img src="../../../../../assets/img/movie/movie-sample2.jpg" class="img-responsive" />
          </div>
          <div class="item-carousel">
            <img src="../../../../../assets/img/movie/movie-sample3.jpg" class="img-responsive" />
          </div>
          <div class="item-carousel">
            <img src="../../../../../assets/img/movie/movie-sample4.jpg" class="img-responsive" />
          </div>
          <div class="item-carousel">
            <img src="../../../../../assets/img/movie/movie-sample5.jpg" class="img-responsive" />
          </div>
          <div class="item-carousel">
            <img src="../../../../../assets/img/movie/movie-sample6.jpg" class="img-responsive" />
          </div> -->
          <div class="item-carousel">
            <img src="../../../../../assets/img/movie/movie-sample7.jpg" class="img-responsive" />
          </div>
        </carousel-component>
      </div>
      <div class="row" *ngIf="selectedMovie">
        <div class="section-title m-width-100">
          <h2 class="page-heading" style="color : #fff">Nội dung phim</h2>
        </div>
        <div class="col-md-6 animated slideInRight wow">
          <div class="transformers-content">
            <ul>
              <li>
                <div class="transformers-left">
                  Tên phim:
                </div>
                <div class="transformers-right">
                  {{selectedMovie.TenPhim}}
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Trailer:
                </div>
                <div class="transformers-right">
                  <a href="{{selectedMovie.Trailer}}" target="_blank" style="color:#fff">{{selectedMovie.Trailer}}</a>
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Mô tả:
                </div>
                <div class="transformers-right">
                  {{selectedMovie.MoTa}}
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Khởi Chiếu:
                </div>
                <div class="transformers-right">
                  {{selectedMovie.NgayKhoiChieu | date:"dd-MM-yyyy" }}
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Đánh giá:
                </div>
                <div class="transformers-right">
                  {{selectedMovie.DanhGia}}
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 animated slideInLeft wow">
          <vg-player>
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls class="container-video">
              <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
            </video>
          </vg-player>
        </div>
      </div>
      <div class="row" *ngIf="detailMovieSelected">
        <div class="section-title">
          <h2 class="page-heading" style="color : #fff">Chọn thời gian</h2>
        </div>
      </div>
      <div class="row c-ticket-w100" *ngIf="detailMovieSelected">
        <div class="col-md-3 c-no-padding animated slideInRight wow">
          <div class="form-group">
            <label for="MaLichChieu">Chọn lịch chiếu</label>
            <select class="form-control animated slideInRight wow" id="MaLichChieu" [(ngModel)]="selectedShowTime" (change)="getShowTime(selectedShowTime.MaLichChieu)">
              <option [ngValue]="obj" *ngFor="let obj of detailMovieSelected?.LichChieu;let i = index">{{obj.NgayChieuGioChieu | date:"dd-MM-yyyy" }}</option>
            </select>
          </div>
          <!-- <div class="form-group container-time">
            <label for="exampleFormControlInput1">Chọn lịch chiếu</label>
            <angular2-date-picker [(ngModel)]="date" (onDateSelect)="onDateSelect($event)" [settings]="settings"></angular2-date-picker>
          </div> -->
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 c-no-padding" *ngIf="selectedShowTime">
          <div class="form-group">
            <label for="Rap">Chọn rạp chiếu</label>
            <select class="form-control" id="Rap">
              <option [value]="selectedShowTime?.Rap.MaRap">{{selectedShowTime?.Rap.TenRap}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row animated slideInRight wow" *ngIf="selectedShowTime">
        <label for="exampleFormControlInput1">Thông tin lịch chiếu</label>
        <div class="portfolio-item" style="width: 100%;">
          <div class="time-select time-select--wide">
            <div class="time-select__group">
              <div class="col-sm-3 border-right">
                <p class="time-select__place">Ngày khởi chiếu</p>
              </div>
              <ul class="col-sm-9 items-wrap">
                <li class="time-select__item">{{selectedShowTime.NgayChieuGioChieu | date:"dd-MM-yyyy HH:mm" }}</li>
              </ul>
            </div>
            <div class="time-select__group">
              <div class="col-sm-3 border-right">
                <p class="time-select__place">Giá vé</p>
              </div>
              <ul class="col-sm-9 items-wrap">
                <li class="time-select__item">{{selectedShowTime.GiaVe | number:'3.0'}} VNĐ</li>
              </ul>
            </div>
            <div class="time-select__group">
              <div class="col-sm-3 border-right">
                <p class="time-select__place">Thời lượng</p>
              </div>
              <ul class="col-sm-9 items-wrap">
                <li class="time-select__item">{{selectedShowTime.ThoiLuong}} Phút</li>
              </ul>
            </div>
            <div class="time-select__group">
              <div class="col-sm-3 border-right">
                <p class="time-select__place">Số ghế</p>
              </div>
              <ul class="col-sm-9 items-wrap">
                <li class="time-select__item">{{selectedShowTime.Rap.SoGhe}} Cái</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pt30 c-ticket-w100">
          <div class="order">
            <a href="javascript:void(0)" (click)="ShowBookChair()" class="btn btn-md btn--warning btn--wide c-btn-theme--f__right" style="display: flex;
  align-items: center;">
              <i class="icofont icofont-chair"></i> &nbsp;Tiến hành đặt ghế
              <div class="loader" *ngIf="isShowLoading"></div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>


<ng-template #bookChair>
  <div class="containers animated slideInRight wow" id="main-section">
    <app-book-chair [MaLichChieu]="MaLichChieu" [Time]="selectedTime" (comeback)="valueChange($event)"></app-book-chair>
  </div>
</ng-template>
