<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-area-content">
          <h1>Thông tin chi tiết</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-bg">
            <li class="breadcrumb-item">
              <a href="#">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Thông tin chi tiết</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="transformers-area">
  <div class="container">
    <div class="row flexbox-center c-padding-b20">
      <div class="col-lg-6 text-center text-lg-left animated slideInRight wow">
        <div class="section-title">
          <h1>
            <i class="icofont icofont-movie"></i> Thông tin chi tiết</h1>
        </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
      </div>
    </div>
    <div class="transformers-box">
      <div class="row flexbox-center">
        <div class="col-lg-5 text-lg-left text-center animated slideInRight wow">
          <div class="transformers-content">
            <img id="qrImg" src="{{currentMovie?.HinhAnh}}" class="img-responsive" />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="transformers-content mtr-30 animated slideInLeft wow">
            <h2>{{currentMovie?.TenPhim}}</h2>
            <a href="#" class="theme-btn">Biography</a>
            <a href="#">Filmography</a>
            <ul>
              <li>
                <div class="transformers-left">
                  Mã phim:
                </div>
                <div class="transformers-right">
                  {{currentMovie?.MaPhim}}
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Trailer:&nbsp;
                </div>
                <div class="transformers-right">
                  {{currentMovie?.Trailer}}
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Khởi chiếu:
                </div>
                <div class="transformers-right">
                  {{currentMovie?.NgayKhoiChieu | date: "dd-mm-yyyy"}}
                </div>
              </li>
              <li *ngIf="currentMovie?.LichChieu">
                <div class="transformers-left">
                  Lịch chiếu:
                </div>
                <div class="transformers-right">
                  <span class="label label-primary" *ngFor="let item of currentMovie?.LichChieu">
                    {{item.NgayChieuGioChieu | date:"dd-mm-yyyy"}}
                  </span>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="details-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="details-content">
          <div class="details-overview">
            <h2>Tổng quan</h2>
            <p>{{currentMovie?.MoTa}}</p>
            <p>Humans are at war with the Transformers, and Optimus Prime is gone. The key to saving the future lies buried
              in the secrets of the past and the hidden history of Transformers on Earth. Now it's up to the unlikely alliance
              of inventor Cade Yeager, Bumblebee, a n English lord and an Oxford professor to save the world. Transformers:
              The Last Knight has a deeper mythos and bigger spectacle than its predecessors, yet still ends up being mostly
              hollow and cacophonous. The first "Transformers" movie that could actually be characterized as badass. Which
              isn't a bad thing. It may, in fact, be better.</p>
          </div>
          <div class="details-reply">
            <h2>Leave a Reply</h2>
            <form action="#">
              <div class="row">
                <div class="col-lg-4">
                  <div class="select-container">
                    <input type="text" placeholder="Name" />
                    <i class="icofont icofont-ui-user"></i>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="select-container">
                    <input type="text" placeholder="Email" />
                    <i class="icofont icofont-envelope"></i>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="select-container">
                    <input type="text" placeholder="Phone" />
                    <i class="icofont icofont-phone"></i>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="textarea-container">
                    <textarea placeholder="Type Here Message"></textarea>
                    <button>
                      <i class="icofont icofont-send-mail"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="details-comment">
            <a class="theme-btn theme-btn2" href="#">Post Comment</a>
            <p>You may use these HTML tags and attributes: You may use these HTML tags and attributes: You may use these HTML
              tags and attributes: </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- details area end -->
