<div class="row standard-bg">
        <!-- SIDEBAR -->
        <div class="col-lg-2 col-md-4 hidden-sm hidden-xs">
           <aside class="dark-bg">
              <article>
                 <h2 class="icon"><i class="fa fa-flash" aria-hidden="true"></i>trending</h2>
                 <div class="search-block--fix">
                    <form>
                      <input type="text" placeholder="Tìm kiếm" class="search-width-100">
                    </form>
                  </div>
                 <ul class="sidebar-links">
                    <li class="fa fa-chevron-right"><a href="#">featured videos</a><span>4.000</span></li>
                    <li class="fa fa-chevron-right"><a href="#">most viewed</a><span>2.000</span></li>
                    <li class="fa fa-chevron-right"><a href="#">editor's choice</a><span>650</span></li>
                    <li class="fa fa-chevron-right"><a href="#">all video</a><span>4.000</span></li>
                    <li class="fa fa-chevron-right"><a href="#">full hd</a><span>7.800</span></li>
                    <li class="fa fa-chevron-right"><a href="#">premium</a><span>200</span></li>
                    <li class="fa fa-chevron-right"><a href="#">movies</a><span>15</span></li>
                 </ul>
              </article>
              <div class="clearfix spacer"></div>
              <article>
                 <h2 class="icon"><i class="fa fa-gears" aria-hidden="true"></i>categories</h2>
                 <ul class="sidebar-links">
                    <li class="fa fa-chevron-right"><a href="#">Lifestyle</a><span>4.000</span></li>
                    <li class="fa fa-chevron-right"><a href="#">World News</a><span>2.000</span></li>
                    <li class="fa fa-chevron-right"><a href="#">Funny videos</a><span>650</span></li>
                    <li class="fa fa-chevron-right"><a href="#">Hot Stories</a><span>4.000</span></li>
                    <li class="fa fa-chevron-right"><a href="#">Music Clips</a><span>7.800</span></li>
                    <li class="fa fa-chevron-right"><a href="#">Premier Trailers</a><span>200</span></li>
                 </ul>
              </article>
              <div class="clearfix spacer"></div>
              <article>
                 <h2 class="icon"><i class="fa fa-hashtag" aria-hidden="true"></i>rankings</h2>
                 <ul class="sidebar-links">
                    <li class="fa fa-chevron-right"><a href="#">best rated videos</a></li>
                    <li class="fa fa-chevron-right"><a href="#">highly viewed</a></li>
                    <li class="fa fa-chevron-right"><a href="#">most commented</a></li>
                    <li class="fa fa-chevron-right"><a href="#">videos of month</a></li>
                    <li class="fa fa-chevron-right"><a href="#">popular all time</a></li>
                 </ul>
              </article>
              <div class="clearfix spacer"></div>
              <article>
                 <h2 class="icon"><i class="fa fa-tag" aria-hidden="true"></i>tags</h2>
                 <ul class="footer-tags">
                    <li><a href="#">videos</a></li>
                    <li><a href="#">premium</a></li>
                    <li><a href="#">hair</a></li>
                    <li><a href="#">beauty</a></li>
                    <li><a href="#">ranking</a></li>
                    <li><a href="#">lifestyle</a></li>
                    <li><a href="#">sport</a></li>
                    <li><a href="#">money</a></li>
                    <li><a href="#">comments</a></li>
                 </ul>
              </article>
              <div class="clearfix spacer"></div>
           </aside>
        </div>
        <!-- HOME MAIN POSTS -->	
        <div class="col-lg-10 col-md-8">
           <section id="home-main5">
              
              <div class="row auto-clear">
                 <!-- ARTICLES -->
                 <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                       <!-- EMBED VIDEO -->
                       <div id="single-video" class="col-lg-8 col-md-12">
                            <h2 class="icon"><i class="fa fa-television" aria-hidden="true"></i>popular videos</h2>
                            <!-- <h2 class="title main-head-title text-left">get in touch</h2> -->
                          <!-- VIDEO SINGLE POST -->
                          <article class="post-video">
                             <!-- VIDEO INFO -->
                             <div class="video-info dropshd">
                                <!-- 16:9 aspect ratio -->
                                <div class="embed-responsive embed-responsive-16by9 video-embed-box">
                                   <app-slider></app-slider>
                                </div>
                                <h2 class="title main-head-title">Kiss me if I’m wrong but Dinosaurs still exist? Right?s</h2>
                                <div class="metabox">
                                   <span class="meta-i">
                                   <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895
                                   </span>
                                   <span class="meta-i">
                                   <i class="fa fa-thumbs-down" aria-hidden="true"></i>3.981
                                   </span>
                                   <span class="meta-i">
                                   <i class="fa fa-user"></i><a href="#" class="author" title="John Doe">John Doe</a>
                                   </span>
                                   <span class="meta-i">
                                   <i class="fa fa-clock-o"></i>March 16. 2017
                                   </span>
                                   <span class="meta-i">
                                   <i class="fa fa-eye"></i>1,347,912 views
                                   </span>
                                   <div class="ratings">
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                      <i class="fa fa-star-o"></i>
                                      <i class="fa fa-star-half"></i>
                                   </div>
                                </div>
                                <ul class="social">
                                   <li class="social-facebook"><a href="#" class="fa fa-facebook social-icons"></a></li>
                                   <li class="social-google-plus"><a href="#" class="fa fa-google-plus social-icons"></a></li>
                                   <li class="social-twitter"><a href="#" class="fa fa-twitter social-icons"></a></li>
                                   <li class="social-youtube"><a href="#" class="fa fa-youtube social-icons"></a></li>
                                   <li class="social-rss"><a href="#" class="fa fa-rss social-icons"></a></li>
                                </ul>
                             </div>
                          </article>
                       </div>
                       <!-- SIDE VIDEOS -->
                       <div class="col-lg-4 col-md-4 col-sm-12">
                            <h2 class="title main-head-title text-left">get in touch</h2>
                            <div id="comment-form">
                               <!-- COMMENT FORM -->
                               <form name="comment-form1" method="post" action="#" id="comment-form1">
                                  <fieldset>
                                     <div class="row">
                                        <div class="col-md-12">
                                           <input type="text" name="contactname" id="contactname" placeholder="Your name" value="Your name" onfocus="if (this.value=='Your name') this.value = ''">
                                        </div>
                                        <div class="col-md-12">
                                           <input type="text" name="contactemail" id="contactemail" placeholder="Enter your email address" value="Enter your email address" onfocus="if (this.value=='Enter your email address') this.value = ''">
                                        </div>
                                        <div class="col-md-12">
                                           <textarea rows="10" name="comment" id="comment" cols="5">Your message</textarea>
                                        </div>
                                        <div class="col-md-12">
                                           <button class="subscribe-btn" type="submit" title="Send Message">Send Message</button>
                                        </div>
                                     </div>
                                  </fieldset>
                               </form>
                            </div>
                            <!-- COMMENT FORM END -->
                         </div>

                    </div>
                    <div class="row">
                       <div class="col-lg-12">
                          <!-- REVIEWS -->
                          <section id="main-reviews">
                             <div id="review-carousel" class="carousel slide" data-ride="carousel">
                                <h2 class="icon"><i class="fa fa-star" aria-hidden="true"></i>top reviews</h2>
                                <div class="carousel-control-box">
                                   <a class="left carousel-control" href="#review-carousel"  role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                   <a class="right carousel-control" href="#review-carousel"  role="button" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </div>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                   <div class="item active">
                                      <div class="row">
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Little Miss Piggy</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review2.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Dimples Little Miss Cupcake</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review3.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Angel Snowflakes</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review4.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Brutal Lovely Lights</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review5.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Snerus Dear sweetie</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review6.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Fruity Touch</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                      </div>
                                   </div>
                                   <div class="item">
                                      <div class="row">
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Little Miss Piggy</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review2.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Dimples Little Miss Cupcake</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review3.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Angel Snowflakes</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review4.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Brutal Lovely Lights</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review5.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Snerus Dear sweetie</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                         <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                            <!-- POST L size -->
                                            <div class="post post-medium">
                                               <a class="thumbr post-thumb" href="#">
                                               <span class="review-number">4.5</span>
                                               <img src="../../../../../assets/img/thumbs/thumb-review6.jpg" class="review img-responsive" alt="Client">
                                               </a>
                                               <div class="infor">
                                                  <h4>
                                                     <a class="title" href="#">Fruity Touch</a>
                                                  </h4>
                                                  <div class="ratings">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                     <i class="fa fa-star-o"></i>
                                                     <i class="fa fa-star-half"></i>
                                                  </div>
                                               </div>
                                            </div>
                                         </article>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </section>
                       </div>
                    </div>
                    <div class="clearfix spacer"></div>
                 </div>
              </div>
           </section>
        </div>
     </div>