<div class="row">
    <!-- SIDEBAR -->
    <div class="col-lg-2 col-md-4 hidden-sm hidden-xs c-margin-t-75">
        <aside class="dark-bg">
            <article>
                <h2 class="icon">
                    <i class="fa fa-flash" aria-hidden="true"></i>trending</h2>
                <ul class="sidebar-links">
                    <li class="fa fa-chevron-right">
                        <a href="#">featured videos</a>
                        <span>4.000</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">most viewed</a>
                        <span>2.000</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">editor's choice</a>
                        <span>650</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">all video</a>
                        <span>4.000</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">full hd</a>
                        <span>7.800</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">premium</a>
                        <span>200</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">movies</a>
                        <span>15</span>
                    </li>
                </ul>
            </article>
            <div class="clearfix spacer"></div>
            <article>
                <h2 class="icon">
                    <i class="fa fa-gears" aria-hidden="true"></i>categories</h2>
                <ul class="sidebar-links">
                    <li class="fa fa-chevron-right">
                        <a href="#">Lifestyle</a>
                        <span>4.000</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">World News</a>
                        <span>2.000</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">Funny videos</a>
                        <span>650</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">Hot Stories</a>
                        <span>4.000</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">Music Clips</a>
                        <span>7.800</span>
                    </li>
                    <li class="fa fa-chevron-right">
                        <a href="#">Premier Trailers</a>
                        <span>200</span>
                    </li>
                </ul>
            </article>
            <div class="clearfix spacer"></div>
        </aside>
    </div>
    <!-- HOME MAIN POSTS -->
    <div class="col-lg-10 col-md-8">
        <section id="home-main">
            <h2 class="icon c-padding-l">
                <i class="fa fa-television" aria-hidden="true"></i>popular videos</h2>
            <div class="row">
                <!-- ARTICLES -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row auto-clear">
                        <article class="col-lg-3 col-md-6 col-sm-4">
                            <!-- POST L size -->
                            <div class="post post-medium">
                                <div class="thumbr">
                                    <a class="afterglow post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                        <span class="play-btn-border" title="Play">
                                            <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                        </span>
                                        <div class="cactus-note ct-time font-size-1">
                                            <span>02:02</span>
                                        </div>
                                        <img class="img-responsive" src="../assets/img/thumbs/thumb-s.jpg" alt="#">
                                    </a>
                                </div>
                                <div class="infor">
                                    <h4>
                                        <a class="title" href="#">Video Lightbox Test</a>
                                    </h4>
                                    <span class="posts-txt" title="Posts from Channel">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-6 col-sm-4">
                            <!-- POST L size -->
                            <div class="post post-medium">
                                <div class="thumbr">
                                    <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                        <span class="play-btn-border" title="Play">
                                            <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                        </span>
                                        <div class="cactus-note ct-time font-size-1">
                                            <span>02:02</span>
                                        </div>
                                        <img class="img-responsive" src="../assets/img/thumbs/thumb-s2.jpg" alt="#">
                                    </a>
                                </div>
                                <div class="infor">
                                    <h4>
                                        <a class="title" href="#">I graduated from the university of Selfies</a>
                                    </h4>
                                    <span class="posts-txt" title="Posts from Channel">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-6 col-sm-4">
                            <!-- POST L size -->
                            <div class="post post-medium">
                                <div class="thumbr">
                                    <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                        <span class="play-btn-border" title="Play">
                                            <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                        </span>
                                        <div class="cactus-note ct-time font-size-1">
                                            <span>02:02</span>
                                        </div>
                                        <img class="img-responsive" src="../assets/img/thumbs/thumb-s3.jpg" alt="#">
                                    </a>
                                </div>
                                <div class="infor">
                                    <h4>
                                        <a class="title" href="#">I don’t always surf the internet, but when I do, Eyebrows</a>
                                    </h4>
                                    <span class="posts-txt" title="Posts from Channel">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-6 col-sm-4">
                            <!-- POST L size -->
                            <div class="post post-medium">
                                <div class="thumbr">
                                    <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                        <span class="play-btn-border" title="Play">
                                            <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                        </span>
                                        <div class="cactus-note ct-time font-size-1">
                                            <span>02:02</span>
                                        </div>
                                        <img class="img-responsive" src="../assets/img/thumbs/thumb-s4.jpg" alt="#">
                                    </a>
                                </div>
                                <div class="infor">
                                    <h4>
                                        <a class="title" href="#">A selfie a day keeps the friends away</a>
                                    </h4>
                                    <span class="posts-txt" title="Posts from Channel">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-6 col-sm-4">
                            <!-- POST L size -->
                            <div class="post post-medium">
                                <div class="thumbr">
                                    <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                        <span class="play-btn-border" title="Play">
                                            <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                        </span>
                                        <div class="cactus-note ct-time font-size-1">
                                            <span>02:02</span>
                                        </div>
                                        <img class="img-responsive" src="../assets/img/thumbs/thumb-s5.jpg" alt="#">
                                    </a>
                                </div>
                                <div class="infor">
                                    <h4>
                                        <a class="title" href="#">Proof that I can do selfies better than you</a>
                                    </h4>
                                    <span class="posts-txt" title="Posts from Channel">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-6 col-sm-4">
                            <!-- POST L size -->
                            <div class="post post-medium">
                                <div class="thumbr">
                                    <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                        <span class="play-btn-border" title="Play">
                                            <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                        </span>
                                        <div class="cactus-note ct-time font-size-1">
                                            <span>02:02</span>
                                        </div>
                                        <img class="img-responsive" src="../assets/img/thumbs/thumb-s6.jpg" alt="#">
                                    </a>
                                </div>
                                <div class="infor">
                                    <h4>
                                        <a class="title" href="#">I’m so fly right now</a>
                                    </h4>
                                    <span class="posts-txt" title="Posts from Channel">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-6 col-sm-4">
                            <!-- POST L size -->
                            <div class="post post-medium">
                                <div class="thumbr">
                                    <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                        <span class="play-btn-border" title="Play">
                                            <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                        </span>
                                        <div class="cactus-note ct-time font-size-1">
                                            <span>02:02</span>
                                        </div>
                                        <img class="img-responsive" src="../assets/img/thumbs/thumb-s7.jpg" alt="#">
                                    </a>
                                </div>
                                <div class="infor">
                                    <h4>
                                        <a class="title" href="#">Help me! my duck face is stuck</a>
                                    </h4>
                                    <span class="posts-txt" title="Posts from Channel">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-6 col-sm-4">
                            <!-- POST L size -->
                            <div class="post post-medium">
                                <div class="thumbr">
                                    <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                        <span class="play-btn-border" title="Play">
                                            <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                        </span>
                                        <div class="cactus-note ct-time font-size-1">
                                            <span>02:02</span>
                                        </div>
                                        <img class="img-responsive" src="../assets/img/thumbs/thumb-s8.jpg" alt="#">
                                    </a>
                                </div>
                                <div class="infor">
                                    <h4>
                                        <a class="title" href="#">Does this selfie make me look fat</a>
                                    </h4>
                                    <span class="posts-txt" title="Posts from Channel">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="clearfix spacer"></div>
                </div>
            </div>
        </section>
    </div>
  </div>
  