.embed-responsive-16by9 {
    padding-bottom: 58.25%;
}
.icon-margin-l-25 {
    margin-left: 25px;
}
.search-block--fix{
    width: 100%;
    display: inline-block;
    padding-bottom: 0px;
    padding-top: 10px;
}
.search-width-100{
    width: 100%;
    box-sizing: border-box;
    border-bottom :1px solid #fff;
}