.footer {
    background-color: #fff !important;
    padding: 0 !important;
}
.copyright{
    background : unset !important;
}
.nav .nav-item a {
    color: black !important;
}
.wrapper .sidebar .nav .nav-item a {
    padding: 13px 10px;
}