<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-area-content">
          <h1>Thông tin tài khoản</h1>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-bg">
            <li class="breadcrumb-item">
              <a href="#">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Thông tin cá nhân</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb area end -->
<!-- transformers area start -->
<section class="transformers-area">
  <div class="container">
    <div class="row flexbox-center c-padding-b20">
      <div class="col-lg-6 text-center text-lg-left">
        <div class="section-title">
          <h1>
            <i class="icofont icofont-movie"></i> Thông tin cá nhân</h1>
        </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
      </div>
    </div>
    <div class="transformers-box">
      <div class="row flexbox-center">
        <div class="col-lg-5 text-lg-left text-center">
          <div class="transformers-content">
            <img src="assets/img/slide4.jpg" alt="about" />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="transformers-content mtr-30">
            <h2>{{this.currentUser.HoTen}}</h2>
            <a href="#" class="theme-btn">Biography</a>
            <a href="#">Filmography</a>
            <ul>
              <li>
                <div class="transformers-left">
                  Email:
                </div>
                <div class="transformers-right">
                  {{this.currentUser.Email}}
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Địa chỉ:
                </div>
                <div class="transformers-right">
                  7th Harley Place, London W1G 8LZ United Kingdom
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Ngày sinh:
                </div>
                <div class="transformers-right">
                  20-07-1985
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Ngôn ngữ:
                </div>
                <div class="transformers-right">
                  Tiếng anh, Ấn độ
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Sở thích:
                </div>
                <div class="transformers-right">
                  Bóng chuyền, Bóng rổ, Đọc sách, Gaming
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="history-ticket">
      <div class="row flexbox-center c-padding-b20">
        <div class="col-lg-6 text-center text-lg-left">
          <div class="section-title">
            <h1>
              <i class="icofont icofont-movie"></i> Lịch sử đặt vé</h1>
          </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>#</td>
              <td>Tên phim</td>
              <td>Mã ghế</td>
              <td>Ngày đặt</td>
              <td>Giá vé</td>
              <td>Rạp</td>
              <td>Trạng thái</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of historyTicket?.DanhSachVeDaDat; let i = index; let odd= odd">
              <td>{{i+1}}</td>
              <td>{{item.TenPhim}}</td>
              <td>{{item.MaGhe}}</td>
              <td>{{item.NgayDat | date:"dd-MM-yyy hh:mm"}}</td>
              <td>{{item.GiaVe | number:"3.0"}}</td>
              <td>{{item.Rap}}</td>
              <td *ngIf="
              (item.NgayDat | date:'dd-MM-yyy hh:mm') < (today | date:'dd-MM-yyy hh:mm');then thenBlock elseBlock
              "></td>
              <ng-template #thenBlock>
                <td><span class="label label-primary">Đã nhận vé</span></td>
              </ng-template>
              <ng-template #elseBlock>
                <td><span class="label label-info">Chờ xem</span></td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- transformers area end -->
