<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-area-content">
          <h1>&nbsp;</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb area end -->
<!-- transformers area start -->
<section class="transformers-area">
  <div class="container">
    <div class="transformers-box">
      <div class="row flexbox-center">
        <div class="col-lg-5 text-lg-left text-center">
          <div class="transformers-content">
            <img src="assets/img/slide4.jpg" alt="about" />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="transformers-content mtr-30">
            <h2>{{this.currentUser.HoTen}}</h2>
            <a href="#" class="theme-btn">Biography</a>
            <a href="#">Filmography</a>
            <ul>
              <li>
                <div class="transformers-left">
                  Email:
                </div>
                <div class="transformers-right">
                  {{this.currentUser.Email}}
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Địa chỉ:
                </div>
                <div class="transformers-right">
                  7th Harley Place, London W1G 8LZ United Kingdom
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Ngày sinh:
                </div>
                <div class="transformers-right">
                  20-07-1985
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Ngôn ngữ:
                </div>
                <div class="transformers-right">
                  Tiếng anh, Ấn độ
                </div>
              </li>
              <li>
                <div class="transformers-left">
                  Sở thích:
                </div>
                <div class="transformers-right">
                  Bóng chuyền, Bóng rổ, Đọc sách, Gaming
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- transformers area end -->