<section class="blog-area c-padding-b60">
  <div class="container animated slideInUp">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title pb-20">
          <h1><i class="icofont icofont-coffee-cup"></i>CGV Membership</h1>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="single-news">
          <div class="news-bg-1"></div>
        </div>
        <div class="single-news">
          <p>
            Cùng chào đón ngày Sinh Nhật với những phần quà đặc biệt từ CGV
          </p>
          <p> - CGV U22: 01 CGV Combo miễn phí (1 Bắp & 2 Nước) </p>

          <p> * Vào sinh nhật lần thứ 23 thành viên CGV U22 sẽ được nhận 01 vé xem phim 2D miễn phí. </p>

          <p> - CGV Member: 01 CGV Combo miễn phí (1 Bắp & 2 Nước) </p>

          <p> - CGV VIP: 01 CGV Combo miễn phí (1 Bắp & 2 Nước) + 01 vé xem phim 2D miễn phí </p>

          <p> - CGV VVIP: 01 CGV Combo miễn phí (1 Bắp & 2 Nước) + 02 vé xem phim 2D miễn phí </p>

          <p> Bạn sẽ nhận được ưu đãi này trong tháng sinh nhật của mình (tháng sinh nhật được tính từ ngày sinh nhật
            đến
            hết 30 ngày sau đó). Ví dụ: Sinh nhật bạn là ngày 01/01/2018 vậy thời gian để bạn nhận quà là từ ngày
            01/01/2018 đến hết ngày 30/01/2018. </p>

          <p>* Lưu ý</p>

          <p> - Chỉ những thành viên có ít nhất 01 giao dịch trong vòng 12 tháng gần nhất (trước tháng sinh nhật) mới
            nhận được Quà tặng Sinh nhật từ CGV. Nếu khách hàng bổ sung giao dịch, khách hàng có thể nhận Quà Sinh Nhật
            sau 2 ngày, với điều kiện thời điểm đó vẫn còn trong tháng sinh nhật.</p>
          <p> - Nếu ngày sinh của bạn rơi vào ngày
            29/02, bạn có thể nhận quà vào ngày 28/02.</p>
          <p> - Ngày sinh trên CMND của bạn phải trùng khớp với ngày sinh và
            số CMND đã đăng ký tài khoản CGV. Vui lòng xuất trình thẻ thành viên CGV và CMND khi đến nhận quà tặng.</p>
          <p> -Nếu tài khoản được đăng ký với ngày sinh không chính xác, và ngày sinh đã qua, chương trình sẽ được áp
            dụng
            cho ngày sinh nhật vào năm kế tiếp.</p>
          <p> - Thành viên cần đăng ký tài khoản ít nhất 72 giờ trước ngày
            sinh nhật của mình để được nhận ưu đãi.</p> - CGV Combo miễn phí sẽ bao gồm 2 nước lớn và 1 bắp lớn.
          <p> - Vé miễn phí là vé 2D hàng ghế VIP.</p>
          <p> - Việc quy đổi quà tặng phụ thuộc vào số lượng hiện có tại rạp, thời hạn
            quy đổi và không có giá trị quy đổi thành tiền mặt.</p>
          <p> - Để thay đổi thông tin ngày sinh và giới tính của
            mình, bạn có thể liên hệ với CGV qua email hoidap@cgv.vn.</p>

        </div>

      </div>
    </div>
  </div>
</section>
