.footer {
  background-color: #fff !important;
  padding: 0 !important;
}

.copyright {
  background: unset !important;
}

.nav .nav-item a {
  color: black !important;
}

td .card-action {
  padding: 0 !important;
  border-top: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}

.card-action .btn-danger {
  margin-left: 15px;
}

.dialog {
  right: 0;
  width: 100%;
  top: 20% !important;
  left: 0 !important;
  min-height: 280px;
  width: 90%;
  max-width: 1170px;
}

.scroll-modal {
  max-height: calc(100vh - 210px);
  overflow: auto;
}

.btn-right {
  text-align: right;
}

@media (min-width: 576px) {
  .form-inline .form-check,
  .form-inline label {
    justify-content: flex-start !important;
  }
}

input[type="text"],
input[type="submit"],
button[type="submit"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
textarea {
  background: #ffffff !important;
}

input[type="text"]:focus,
input[type="submit"]:focus,
button[type="submit"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: cornflowerblue !important
} // .form-control {
//   border: 1px solid #ced4da !important
// }
select option:disabled {
  color: #eee;
}

.form-control.input-full {
  border: 1px solid #eee;
}

.card-body .alert {
  padding-left: 15px !important
}

.img-responsive {
  max-width: 350px;
  max-height: 300px;
}

td a {
  color: #000;
}

td a:hover {
  color: #007bff;
  text-decoration: underline;
}

.table>tbody>tr>td {
  max-width: 350px;
}
