<!-- TABS -->
<div id="tabs" class="container-fluid featured-bg">
    <div class="container-fluid">
        <div class="col-md-12">
            <!-- BOOTSTRAP TABS -->
            <div class="head-section">
                <ul class="nav nav-tabs text-center">
                    <li class="active">
                        <a data-toggle="tab" href="#tab1">
                            <h2 class="title">latest</h2>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab2">
                            <h2 class="title">top rated</h2>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab3">
                            <h2 class="title">most viewed</h2>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row auto-clear">
                <!-- TAB CONTENTS -->
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">With You, I forget all my problems. With You, Time Stands Still.</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab2.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">I’m not perfect but I am Loyal</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab3.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">When I fell for you, I fell Hard</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab4.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">If you are Mine, You are Mine. I don’t like Sharing</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab5.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">I love you. That’s all I know</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab6.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">It will be Always YOU</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">With You, I forget all my problems. With You, Time Stands Still.</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab2.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">I’m not perfect but I am Loyal</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab3.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">When I fell for you, I fell Hard</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab4.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">If you are Mine, You are Mine. I don’t like Sharing</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab5.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">I love you. That’s all I know</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab6.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">It will be Always YOU</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div id="tab3" class="tab-pane fade">
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">With You, I forget all my problems. With You, Time Stands Still.</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab2.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">I’m not perfect but I am Loyal</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab3.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">When I fell for you, I fell Hard</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab4.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">If you are Mine, You are Mine. I don’t like Sharing</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab5.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">I love you. That’s all I know</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                        <!-- POST L size -->
                        <article class="col-lg-2 col-md-4 col-sm-4 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="https://www.youtube.com/watch?v=Ikkfwnq4Uss" data-lity>
                                    <span class="play-btn-border" title="Play">
                                        <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                    </span>
                                    <div class="cactus-note ct-time font-size-1">
                                        <span>02:02</span>
                                    </div>
                                    <img class="img-responsive" src="../assets/img/thumbs/thumb-tab6.jpg" alt="#">
                                </a>
                            </div>
                            <div class="infor">
                                <h4>
                                    <a class="title" href="#">It will be Always YOU</a>
                                </h4>
                                <span class="posts-txt" title="Posts from Channel">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-half"></i>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>