<div id="home1" class="container-fluid standard-bg">
  <!-- HEADER -->
  <div class="row header-top">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <a class="main-logo" href="#">
        <img src="../assets/img/main-logo.png" class="main-logo img-responsive" alt="Muvee Reviews" title="Muvee Reviews">
      </a>
    </div>
  </div>
  <!-- MENU -->
  <div class="row home-mega-menu ">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse megabg dropshd ">
          <ul class="nav navbar-nav">
            <li class="dropdown mega-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trang chủ
                <span class="fa fa-chevron-down pull-right"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="index.html">Homepage V1</a>
                </li>
                <li>
                  <a href="index2.html">Homepage V2</a>
                </li>
                <li>
                  <a href="index3.html">Homepage V3</a>
                </li>
                <li>
                  <a href="index4.html">Homepage V4</a>
                </li>
                <li>
                  <a href="index5.html">Homepage V5</a>
                </li>
              </ul>
            </li>
            <li class="dropdown mega-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Posts
                <span class="fa fa-chevron-down pull-right"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="single-video.html">Video Post - Basic</a>
                </li>
                <li>
                  <a href="single-video-fullwidth.html">Video Post - Fullwidth</a>
                </li>
                <li>
                  <a href="single-video-right-sidebar.html">Video Post - Right Sidebar</a>
                </li>
                <li>
                  <a href="single-video-no-sidebar.html">Video Post - No Sidebar</a>
                </li>
                <li>
                  <a href="single-video-author-bio.html">Video Post - Author Bio</a>
                </li>
                <li>
                  <a href="single-post-fullwidth.html">Post with Featured Image</a>
                </li>
              </ul>
            </li>
            <li class="dropdown mega-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages
                <span class="fa fa-chevron-down pull-right"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="single-page.html">Single Page - Basic</a>
                </li>
                <li>
                  <a href="single-page-with-img.html">Single Page - with Image</a>
                </li>
                <li>
                  <a href="review.html">Reviews</a>
                </li>
                <li>
                  <a href="carousels.html">Carousels</a>
                </li>
                <li>
                  <a href="author.html">Author</a>
                </li>
                <li>
                  <a href="login.html">Login</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
                <li>
                  <a href="search.html">Search Results</a>
                </li>
                <li>
                  <a href="404.html">404</a>
                </li>
              </ul>
            </li>
            <li class="dropdown mega-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories
                <span class="fa fa-chevron-down pull-right"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="category.html">Category - Grid</a>
                </li>
                <li>
                  <a href="category2.html">Category - Grid with excerpt</a>
                </li>
                <li>
                  <a href="category3.html">Category - List</a>
                </li>
              </ul>
            </li>
            <li class="dropdown mega-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery
                <span class="fa fa-chevron-down pull-right"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="gallery-video-boxed.html">Gallery - Boxed</a>
                </li>
                <li>
                  <a href="gallery-video-fullwidth.html">Gallery - Fullwidth</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <ul class="social">
            <li class="social-facebook">
              <a href="#" class="fa fa-facebook social-icons"></a>
            </li>
            <li class="social-google-plus">
              <a href="#" class="fa fa-google-plus social-icons"></a>
            </li>
            <li class="social-twitter">
              <a href="#" class="fa fa-twitter social-icons"></a>
            </li>
            <li class="social-youtube">
              <a href="#" class="fa fa-youtube social-icons"></a>
            </li>
            <li class="social-rss">
              <a href="#" class="fa fa-rss social-icons"></a>
            </li>
          </ul>
          <div class="search-block">
            <form>
              <input type="search" placeholder="Search">
            </form>
          </div>
        </div>
        <!-- /.nav-collapse -->
      </nav>
    </div>
  </div>
  <!-- CORE -->
</div>