<!-- Main content -->
<section class="container">
  <div class="col-sm-12">
    <div class="checkout-wrapper">
      <h2 class="page-heading">Thông tin thanh toánt</h2>
      <ul class="book-result">
        <li class="book-result__item">Tickets:
          <span class="book-result__count booking-ticket">3</span>
        </li>
        <li class="book-result__item">One item price:
          <span class="book-result__count booking-price">$20</span>
        </li>
        <li class="book-result__item">Total:
          <span class="book-result__count booking-cost">$60</span>
        </li>
      </ul>

      <h2 class="page-heading">Phương thức thanh toán</h2>
      <div class="payment">
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay1.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay2.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay3.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay4.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay5.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay6.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay7.png">
        </a>
      </div>

    </div>

    <div class="order">
      <a href="book-final.html" class="btn btn-md btn--warning btn--wide">purchase</a>
    </div>

  </div>

</section>


<div class="clearfix"></div>