<!-- Main content -->
<section class="container">
  <div class="col-sm-12">
    <div class="checkout-wrapper">
      <h2 class="page-heading">Thông tin thanh toán</h2>
      <ul class="book-result">
        <li class="book-result__item">Tổng vé:
          <span class="book-result__count booking-ticket">{{TotalTicket}}</span>
        </li>
        <li class="book-result__item">Tạm tính:
          <span class="book-result__count booking-price">{{TotalPrice | number:"3.0"}}</span>
        </li>
        <li class="book-result__item">Tổng thanh toán:
          <span class="book-result__count booking-cost">{{TotalPrice | number:"3.0"}}</span>
        </li>
      </ul>

      <h2 class="page-heading">Phương thức thanh toán</h2>
      <div class="payment">
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay1.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay2.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay3.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay4.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay5.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay6.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay7.png">
        </a>
      </div>

    </div>

    <div class="order">
      <a href="javascript:void(0)" (click)="putTicket()" class="btn btn-md btn--warning btn--wide">Đặt vé</a>
      <div class="loader" *ngIf="isSubmitted"></div>
    </div>

  </div>

</section>

<app-dialog [(visible)]="showDialog">
  <div class="f-container animated slideInRight wow">
    <form action="#" [formGroup]="loginForm" name="loginForm" novalidate>
      <div class="row">
        <div class="col-lg-12">
          <div class="select-container">
            <input type="text" placeholder="Tên đăng nhập" name="usernameLogin" id="usernameLogin" formControlName="usernameLogin" [ngClass]="{'has-error': usernameLogin.invalid && (usernameLogin.dirty || usernameLogin.touched)}"
            />
            <i class="icofont icofont-ui-user"></i>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="select-container">
            <input type="password" placeholder="Mật khẩu" name="passwordLogin" id="passwordLogin" formControlName="passwordLogin" [ngClass]="{'has-error': passwordLogin.invalid && (passwordLogin.dirty || passwordLogin.touched)}"
            />
            <i class="icofont icofont-ui-password"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 row-flex">
          <button type="button" class="theme-btn" [disabled]="loginForm.invalid || isShowLoadingLogin" [ngClass]='{disabled: loginForm.invalid}'
            (click)="loginNormal()">Đăng nhập</button>
          <div class="loader" *ngIf="isShowLoadingLogin"></div>
        </div>
      </div>
    </form>
  </div>
</app-dialog>
<div class="clearfix"></div>