<!-- Main content -->
<section class="container">
  <div class="col-sm-12">
    <div class="checkout-wrapper">
      <h2 class="page-heading">Thông tin thanh toán</h2>
      <ul class="book-result">
        <li class="book-result__item">Tổng vé:
          <span class="book-result__count booking-ticket">{{TotalTicket}}</span>
        </li>
        <li class="book-result__item">Tạm tính:
          <span class="book-result__count booking-price">{{TotalPrice}}</span>
        </li>
        <li class="book-result__item">Tổng thanh toán:
          <span class="book-result__count booking-cost">{{TotalPrice}}</span>
        </li>
      </ul>

      <h2 class="page-heading">Phương thức thanh toán</h2>
      <div class="payment">
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay1.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay2.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay3.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay4.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay5.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay6.png">
        </a>
        <a href="#" class="payment__item">
          <img alt='' src="../../../../../assets/img/payment/pay7.png">
        </a>
      </div>

    </div>

    <div class="order">
      <a href="#" class="btn btn-md btn--warning btn--wide">Đặt vé</a>
    </div>

  </div>

</section>


<div class="clearfix"></div>