<div class="row">
  <div class="card c-width-100">
    <div class="card-header">
      <div class="card-title">Danh sách người dùng</div>
    </div>
    <div class="card-body">
      <div class="card-sub">
        Create responsive tables by wrapping any table with
        <code class="highlighter-rouge">.table-responsive</code>
        <code class="highlighter-rouge">DIV</code> to make them scroll horizontally on small devices
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Tài khoản</th>
              <th>Họ tên</th>
              <th>Email</th>
              <th>Nhóm người dùng</th>
              <th>Loại người dùng</th>
              <th>Số điện thoại</th>
              <th>Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listUser | paginate: { itemsPerPage: 10, currentPage: p,totalItems: total }; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{item.TaiKhoan}}</td>
              <td>{{item.HoTen}}</td>
              <td>{{item.Email}}</td>
              <td>{{item.MaNhom}}</td>
              <td>{{item.TenLoaiNguoiDung}}</td>
              <td>{{item.SoDT}}</td>
              <td>
                <div class="card-action">
                  <button class="btn btn-success" (click)="onSelectUser(item)">Sửa</button>
                  <button class="btn btn-danger">Xóa</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="onSelectUser">
  <app-admin-dialog [(visible)]="showDialog">
    <div class="f-container animated slideInRight wow">
      <div class="col-md-12">
        <div class="card scroll-modal">
          <div class="card-header">
            <div class="card-title">Chỉnh sửa thông tin người dùng</div>
          </div>
          <div class="card-body">
            <div class="form-group form-inline">
              <label for="inlineinput" class="col-md-3 col-form-label">Static</label>
              <div class="col-md-9 p-0">
                <p class="form-control-static">hello@themekita.com</p>
              </div>
            </div>
            <div class="form-group form-inline">
              <label for="inlineinput" class="col-md-3 col-form-label">Inline Input</label>
              <div class="col-md-9 p-0">
                <input type="text" class="form-control input-full" id="inlineinput" placeholder="Enter Input">
              </div>
            </div>

            <div class="form-group form-inline">
              <label for="inlineinput" class="col-md-3 col-form-label">Email Address</label>
              <div class="col-md-9 p-0">
                <input type="email" class="form-control input-full" id="email" placeholder="Enter Email">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
            </div>
            <div class="form-group form-inline">
              <label for="inlineinput" class="col-md-3 col-form-label">Password</label>
              <div class="col-md-9 p-0">
                <input type="password" class="form-control input-full" id="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group form-inline">
              <label for="inlineinput" class="col-md-3 col-form-label">Gender</label>
              <div class="col-md-9 p-0">
                <div class="form-check">
                  <label class="form-radio-label">
                    <input class="form-radio-input" type="radio" name="optionsRadios" value="" checked="">
                    <span class="form-radio-sign">Male</span>
                  </label>
                  <label class="form-radio-label ml-3">
                    <input class="form-radio-input" type="radio" name="optionsRadios" value="">
                    <span class="form-radio-sign">Female</span>
                  </label>
                </div>

              </div>
            </div>
            <div class="form-group form-inline">
              <label for="inlineinput" class="col-md-3 col-form-label">&nbsp;</label>
              <div class="col-md-9 p-0">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-sign">Agree with terms and conditions</span>
                </label>
              </div>
            </div>
          </div>
          <div class="card-action btn-right">
            <button class="btn btn-success">Cập nhật</button>
            <button class="btn btn-danger" (click)="showDialog = false">Hủy</button>
          </div>
        </div>
      </div>

    </div>
  </app-admin-dialog>

</div>
