<section class="hero-area" id="home">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide" lazy-load-images>
      <img class="bg-slide" [attr.data-src]="slide.img" alt="" width="100%">
      <div class="clearfix"></div>
    </div>
  </ngx-slick>
</section>
<section class="portfolio-area pt-60 c-padding-b60 animated slideInUp wow">
  <div class="container">
    <div class="row flexbox-center c-padding-b20">
      <div class="col-lg-6 text-center text-lg-left">
        <div class="section-title">
          <h1>
            <i class="icofont icofont-movie"></i> Phim sắp chiếu</h1>
        </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
      </div>
    </div>
    <hr />
    <div class="row c-padding-t10">
      <div class="owl-carousel owl-theme">
        <div class="col-md-12 item" *ngFor="let intro of introMovie">
          <div class="card video-area">
            <div class="relative" lazy-load-images>
              <img class="card-img-top" [attr.data-src]="intro.url" alt="Card image cap">
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="film-meta">
                <div class="film-rating">
                  <span class="point">{{intro.IMB}}</span>
                  <span class="total">/ {{intro.total}}</span>
                </div>
                <h3 class="film-title">
                  <a href="javascript:void(0)">{{intro.actor}}</a>
                </h3>
                <div class="film-category">
                  <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">{{intro.cate}}</a>
                  /
                  <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">{{intro.actor}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="video c-padding-t90 ">
  <div class="container">
    <div class="row animated slideInUp wow">
      <div class="col-lg-12">
        <div class="section-title pb-20">
          <h1>
            <i class="icofont icofont-film"></i> Phim đang chiếu</h1>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-9 animated slideInUp wow">
        <div class="row">
          <div class="col-md-3" *ngFor="let item of listMovie | slice:0:7; ">
            <div class="card video-area">
              <div class="relative" lazy-load-images>
                <img class="card-imgae-playing" [attr.data-src]="item.HinhAnh" alt="Card image cap">
                <a href="{{item.Trailer}}" target="_blank" class="popup-youtube">
                  <i class="icofont icofont-ui-play"></i>
                </a>
              </div>
              <div class="card-body bg-card-style2">
                <div class="film-meta">
                  <div class="film-rating">
                    <span class="point">8.7</span>
                    <span class="total">/ 10</span>
                  </div>
                  <h3 class="film-title">
                    <a href="javascript:void(0)" [routerLink]="['/home-page/movie-details',item.MaPhim]"
                      routerLinkActive="active">{{item.TenPhim}}</a>
                  </h3>
                  <div class="film-category">
                    <a href="#" rel="tag">Comedy</a>
                    /
                    <a href="#" rel="tag">Drama</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 animated slideInRight wow">
        <div class="row">
          <div class="col-md-12 col-sm-6">
            <div class="wrapper__top">
              <div class="wrapper__top__container">
                <div class="film-content video-area">
                  <h3 class="top-title">Xem nhiều nhất</h3>
                  <ul class="film-list">
                    <li class="film-item" *ngFor="let item of listMovie | slice: 0:7; let i = index">
                      <div class="top-number">0{{i + 1}}</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/harutheme-introduction/">{{item.TenPhim}}</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>9{{item.DanhGia}} Lượt xem</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="video ptb-90 background-image animated slideInUp wow">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title pb-20">
          <h1>
            <i class="icofont icofont-film"></i> Trailers & Videos</h1>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-9">
        <div class="video-area">
          <img src="../../../../../assets/img/backgrounds/trailer-wonder-2.jpg" alt="video" />
          <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
            <i class="icofont icofont-ui-play"></i>
          </a>
          <div class="video-text">
            <h2>Angle of Death</h2>
            <div class="review">
              <div class="author-review">
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
              </div>
              <h4>180k voters</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 col-sm-6">
            <div class="video-area">
              <img src="../../../../../assets/img/backgrounds/trailer-joog-boo.jpg" alt="video" />
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
          </div>
          <div class="col-md-12 col-sm-6">
            <div class="video-area">
              <img src="../../../../../assets/img/backgrounds/trailer-brave.jpg" alt="video" />
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
          </div>
          <div class="col-md-12 col-sm-6">
            <div class="video-area">
              <img src="../../../../../assets/img/backgrounds/trailer-beauty-and-monster.jpg" alt="video" />
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news c-padding-t60 c-padding-b60 animated slideInUp wow">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title pb-20">
          <h1>
            <i class="icofont icofont-coffee-cup"></i> Tin tức phim</h1>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div class="news-slide-area">
    <div class="news-slider">
      <div class="single-news">
        <div class="news-bg-1"></div>
        <div class="news-date">
          <h2>
            <span>NOV</span> 25</h2>
          <h1>2017</h1>
        </div>
        <div class="news-content">
          <h2>The Witch Queen</h2>
          <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and
            teal eyes.</p>
        </div>
        <a href="#">Read More</a>
      </div>
      <div class="single-news">
        <div class="news-bg-2"></div>
        <div class="news-date">
          <h2>
            <span>NOV</span> 25</h2>
          <h1>2017</h1>
        </div>
        <div class="news-content">
          <h2>The Witch Queen</h2>
          <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and
            teal eyes.</p>
        </div>
        <a href="#">Read More</a>
      </div>
      <div class="single-news">
        <div class="news-bg-3"></div>
        <div class="news-date">
          <h2>
            <span>NOV</span> 25</h2>
          <h1>2017</h1>
        </div>
        <div class="news-content">
          <h2>The Witch Queen</h2>
          <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and
            teal eyes.</p>
        </div>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="news-thumb">
      <div class="news-next">
        <div class="single-news">
          <div class="news-bg-3"></div>
          <div class="news-date">
            <h2>
              <span>NOV</span> 25</h2>
            <h1>2017</h1>
          </div>
          <div class="news-content">
            <h2>The Witch Queen</h2>
            <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and
              teal
              eyes.
            </p>
          </div>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="news-prev">
        <div class="single-news">
          <div class="news-bg-2"></div>
          <div class="news-content">
            <h2>The Witch Queen</h2>
            <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and
              teal
              eyes.
            </p>
          </div>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
