<section class="hero-area" id="home">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="" width="100%">
      <div class="clearfix"></div>
      <div class="info-img">
        <div class="info-caption">Wolf Warriors II (2017)</div>
        <div class="info-time">
          <span>20 Aug, 2018</span>
          <span>02 hours 50 mins</span>
          <span>Last Christmas</span>
        </div>
        <div class="info-btn">
          Xem giới thiệu
        </div>

        <div class="info-detail">
          Xem chi tiết
        </div>
      </div>
    </div>
  </ngx-slick>
</section>
<section class="portfolio-area pt-60 c-padding-b60">
  <div class="container">
    <div class="row flexbox-center c-padding-b20">
      <div class="col-lg-6 text-center text-lg-left">
        <div class="section-title">
          <h1>
            <i class="icofont icofont-movie"></i> Phim sắp chiếu</h1>
        </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
      </div>
    </div>
    <hr />
    <div class="row c-padding-t10">
      <div class="owl-carousel owl-theme">
        <div class="col-md-12 item">
          <div class="card video-area">
            <div class="relative">
              <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="film-meta">
                <div class="film-rating">
                  <span class="point">8.7</span>
                  <span class="total">/ 10</span>
                </div>
                <h3 class="film-title">
                  <a href="javascript:void(0)">Last Christmas</a>
                </h3>
                <div class="film-category">
                  <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                  /
                  <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 item">
          <div class="card video-area">
            <div class="relative">
              <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="film-meta">
                <div class="film-rating">
                  <span class="point">8.7</span>
                  <span class="total">/ 10</span>
                </div>
                <h3 class="film-title">
                  <a href="javascript:void(0)">Last Christmas</a>
                </h3>
                <div class="film-category">
                  <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                  /
                  <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 item">
          <div class="card video-area">
            <div class="relative">
              <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="film-meta">
                <div class="film-rating">
                  <span class="point">8.7</span>
                  <span class="total">/ 10</span>
                </div>
                <h3 class="film-title">
                  <a href="javascript:void(0)">Last Christmas</a>
                </h3>
                <div class="film-category">
                  <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                  /
                  <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 item">
          <div class="card video-area">
            <div class="relative">
              <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="film-meta">
                <div class="film-rating">
                  <span class="point">8.7</span>
                  <span class="total">/ 10</span>
                </div>
                <h3 class="film-title">
                  <a href="javascript:void(0)">Last Christmas</a>
                </h3>
                <div class="film-category">
                  <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                  /
                  <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 item">
          <div class="card video-area">
            <div class="relative">
              <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="film-meta">
                <div class="film-rating">
                  <span class="point">8.7</span>
                  <span class="total">/ 10</span>
                </div>
                <h3 class="film-title">
                  <a href="javascript:void(0)">Last Christmas</a>
                </h3>
                <div class="film-category">
                  <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                  /
                  <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 item">
          <div class="card video-area">
            <div class="relative">
              <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="film-meta">
                <div class="film-rating">
                  <span class="point">8.7</span>
                  <span class="total">/ 10</span>
                </div>
                <h3 class="film-title">
                  <a href="javascript:void(0)">Last Christmas</a>
                </h3>
                <div class="film-category">
                  <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                  /
                  <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="video c-padding-t90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title pb-20">
          <h1>
            <i class="icofont icofont-film"></i> Phim đang chiếu</h1>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <div class="card video-area">
              <div class="relative">
                <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
                <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                  <i class="icofont icofont-ui-play"></i>
                </a>
              </div>
              <div class="card-body bg-card-style2">
                <div class="film-meta">
                  <div class="film-rating">
                    <span class="point">8.7</span>
                    <span class="total">/ 10</span>
                  </div>
                  <h3 class="film-title">
                    <a href="javascript:void(0)">Last Christmas</a>
                  </h3>
                  <div class="film-category">
                    <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                    /
                    <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card video-area">
              <div class="relative">
                <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
                <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                  <i class="icofont icofont-ui-play"></i>
                </a>
              </div>
              <div class="card-body bg-card-style2">
                <div class="film-meta">
                  <div class="film-rating">
                    <span class="point">8.7</span>
                    <span class="total">/ 10</span>
                  </div>
                  <h3 class="film-title">
                    <a href="javascript:void(0)">Last Christmas</a>
                  </h3>
                  <div class="film-category">
                    <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                    /
                    <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card video-area">
              <div class="relative">
                <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
                <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                  <i class="icofont icofont-ui-play"></i>
                </a>
              </div>
              <div class="card-body bg-card-style2">
                <div class="film-meta">
                  <div class="film-rating">
                    <span class="point">8.7</span>
                    <span class="total">/ 10</span>
                  </div>
                  <h3 class="film-title">
                    <a href="javascript:void(0)">Last Christmas</a>
                  </h3>
                  <div class="film-category">
                    <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                    /
                    <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card video-area">
              <div class="relative">
                <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
                <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                  <i class="icofont icofont-ui-play"></i>
                </a>
              </div>
              <div class="card-body bg-card-style2">
                <div class="film-meta">
                  <div class="film-rating">
                    <span class="point">8.7</span>
                    <span class="total">/ 10</span>
                  </div>
                  <h3 class="film-title">
                    <a href="javascript:void(0)">Last Christmas</a>
                  </h3>
                  <div class="film-category">
                    <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                    /
                    <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card video-area">
              <div class="relative">
                <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
                <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                  <i class="icofont icofont-ui-play"></i>
                </a>
              </div>
              <div class="card-body bg-card-style2">
                <div class="film-meta">
                  <div class="film-rating">
                    <span class="point">8.7</span>
                    <span class="total">/ 10</span>
                  </div>
                  <h3 class="film-title">
                    <a href="javascript:void(0)">Last Christmas</a>
                  </h3>
                  <div class="film-category">
                    <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                    /
                    <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card video-area">
              <div class="relative">
                <img class="card-img-top" src="../../../../../assets/img/movie/movie-sample1.jpg" alt="Card image cap">
                <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
                  <i class="icofont icofont-ui-play"></i>
                </a>
              </div>
              <div class="card-body bg-card-style2">
                <div class="film-meta">
                  <div class="film-rating">
                    <span class="point">8.7</span>
                    <span class="total">/ 10</span>
                  </div>
                  <h3 class="film-title">
                    <a href="javascript:void(0)">Last Christmas</a>
                  </h3>
                  <div class="film-category">
                    <a href="http://demo.harutheme.com/circle/film-category/comedy/" rel="tag">Comedy</a>
                    /
                    <a href="http://demo.harutheme.com/circle/film-category/drama/" rel="tag">Drama</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 col-sm-6">
            <div class="wrapper__top">
              <div class="wrapper__top__container">
                <div class="film-content video-area">
                  <h3 class="top-title">Top View</h3>
                  <ul class="film-list">
                    <li class="film-item">
                      <div class="top-number">01</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/harutheme-introduction/">HaruTheme</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>919 views</div>
                      </div>
                    </li>
                    <li class="film-item">
                      <div class="top-number">02</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/wynonna/">Wynonna</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>641 views</div>
                      </div>
                    </li>
                    <li class="film-item">
                      <div class="top-number">03</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/war-is-coming/">War is Coming</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>627 views</div>
                      </div>
                    </li>
                    <li class="film-item">
                      <div class="top-number">04</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/red-sonja/">Red Sonja</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>418 views</div>
                      </div>
                    </li>
                    <li class="film-item">
                      <div class="top-number">05</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/red-sonja/">Red Sonja</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>418 views</div>
                      </div>
                    </li>
                    <li class="film-item">
                      <div class="top-number">06</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/red-sonja/">Red Sonja</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>418 views</div>
                      </div>
                    </li>
                    <li class="film-item">
                      <div class="top-number">07</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/red-sonja/">Red Sonja</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>418 views</div>
                      </div>
                    </li>
                    <li class="film-item">
                      <div class="top-number">08</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/red-sonja/">Red Sonja</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>418 views</div>
                      </div>
                    </li>
                    <li class="film-item">
                      <div class="top-number">08</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/red-sonja/">Red Sonja</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>418 views</div>
                      </div>
                    </li>
                    <li class="film-item">
                      <div class="top-number">08</div>
                      <div class="item-content">
                        <a href="http://demo.harutheme.com/circle/film/red-sonja/">Red Sonja</a>
                        <div class="view-count">
                          <i class="icofont icofont-eye-alt"></i>418 views</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="video ptb-90 background-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title pb-20">
          <h1>
            <i class="icofont icofont-film"></i> Trailers & Videos</h1>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-9">
        <div class="video-area">
          <img src="assets/img/video/video1.png" alt="video" />
          <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" target="_blank" class="popup-youtube">
            <i class="icofont icofont-ui-play"></i>
          </a>
          <div class="video-text">
            <h2>Angle of Death</h2>
            <div class="review">
              <div class="author-review">
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
              </div>
              <h4>180k voters</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 col-sm-6">
            <div class="video-area">
              <img src="assets/img/video/video2.png" alt="video" />
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
          </div>
          <div class="col-md-12 col-sm-6">
            <div class="video-area">
              <img src="assets/img/video/video3.png" alt="video" />
              <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                <i class="icofont icofont-ui-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news c-padding-t60 c-padding-b60">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title pb-20">
          <h1>
            <i class="icofont icofont-coffee-cup"></i> Tin tức phim</h1>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div class="news-slide-area">
    <div class="news-slider">
      <div class="single-news">
        <div class="news-bg-1"></div>
        <div class="news-date">
          <h2>
            <span>NOV</span> 25</h2>
          <h1>2017</h1>
        </div>
        <div class="news-content">
          <h2>The Witch Queen</h2>
          <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
        </div>
        <a href="#">Read More</a>
      </div>
      <div class="single-news">
        <div class="news-bg-2"></div>
        <div class="news-date">
          <h2>
            <span>NOV</span> 25</h2>
          <h1>2017</h1>
        </div>
        <div class="news-content">
          <h2>The Witch Queen</h2>
          <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
        </div>
        <a href="#">Read More</a>
      </div>
      <div class="single-news">
        <div class="news-bg-3"></div>
        <div class="news-date">
          <h2>
            <span>NOV</span> 25</h2>
          <h1>2017</h1>
        </div>
        <div class="news-content">
          <h2>The Witch Queen</h2>
          <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal eyes.</p>
        </div>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="news-thumb">
      <div class="news-next">
        <div class="single-news">
          <div class="news-bg-3"></div>
          <div class="news-date">
            <h2>
              <span>NOV</span> 25</h2>
            <h1>2017</h1>
          </div>
          <div class="news-content">
            <h2>The Witch Queen</h2>
            <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal
              eyes.
            </p>
          </div>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="news-prev">
        <div class="single-news">
          <div class="news-bg-2"></div>
          <div class="news-content">
            <h2>The Witch Queen</h2>
            <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal
              eyes.
            </p>
          </div>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
